<head>
  <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
  <title></title>
</head>
<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a class="d-inline-flex link-body-emphasis text-decoration-none">
        <img src="https://img.icons8.com/?size=80&id=ubUEdo7OzHhC&format=png" alt="Logo" height="70px" width="70px">
      </a>
    </div>
    <h1 class="mainHeader">Timeline</h1>

    <div class="col-md-3 text-end"></div>
  </header>
</div>
